<div class = "row">
  <div class="col-xs-4 col-xs-offset-4">
    <h1>edit the fields you wish to change</h1>

      <%= form_for @food_truck do |f| %>

        <div class="form-group">
          <%= f.text_field :name, placeholder: f.name %>
        </div>
        <div class="form-group">
          <%= f.text_field :description, placeholder: f.description %>
        </div>
        <div class="form-group">
          <%= f.text_field :website, placeholder: f.website %>
        </div>

        <div class="form-group">
          <%= f.collection_check_boxes :category_ids, FoodCategory.all, :id, :name %>
        </div>

        <div class="form-group">
          <%= f.submit "update me!" %>
        </div>

      <% end %>
  </div><!--end col-->
</div><!--end row-->
