<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1>check to see who's rolling!</h1>

      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <% @food_trucks.each do |f| %>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#<%=f.name.gsub(/\W/,'')%>">
                  <i class="fa fa-truck">&nbsp;</i> <%= f.name.downcase %> 
                </a>
              </h4>
            </div>
            <div id="<%=f.name.gsub(/\W/,'')%>" class="panel-collapse collapse">
              <div class="panel-body">
                <%= f.description %><br />
                <a href="<%=f.website%>" target="blank"><%=f.website%></a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div><!--end of col-->
</div><!--end of row-->
