<div class = "row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
    <h1>Register your food truck</h1>

      <%= form_for @food_truck do |f| %>

        <div class="form-group">
          <%= f.text_field :name, placeholder:"Name goes here..." %>
        </div>
        <div class="form-group">
          <%= f.text_field :description, placeholder:"what's your truck about..." %>
        </div>
        <div class="form-group">
          <%= f.text_field :website, placeholder:"website?" %>
        </div>

        <div class="form-group">
          <%= f.collection_check_boxes :category_ids, FoodCategory.all, :id, :name %>
        </div>

        <div class="form-group">
          <%= f.submit "get rolling!" %>
        </div>

      <% end %>
  </div><!--end col-->
</div><!--end row-->
