<h1>Register your food truck</h1>

<%= form_for @food_truck do |f| %>
  <%= f.text_field :name, placeholder:"Name goes here..." %>
  <%= f.text_field :description, placeholder:"what's your truck about..." %>
  <%= f.text_field :website, placeholder:"website?" %>



  <%= f.collection_check_boxes :food_categories, FoodCategory.all, :id, :name, checked: @foodstuffs.map(&:id) do |b| %>
    <span>
      <%= b.check_box %>
      <%= b.label %>
    </span>
  <% end %>

  <%= f.submit "get rolling!" %>

<% end %>
