<h1>Register your food truck</h1>

<%= form_for @food_truck do |f| %>
  <%= f.text_field :name, placeholder:"Name goes here..." %>
  <%= f.text_field :description, placeholder:"what's your truck about..." %>
  <%= f.text_field :website, placeholder:"website?" %>



    <%= collection_check_boxes(:food_trucks, :food_categories, @foodstuffs, :_id, :name) do |b| %>
    <%= b.label(:"data-value" => b.value) { b.check_box + b.text } %>
    <% end %>

  <%= f.submit "get rolling!" %>

<% end %>
