<h1>Register your food truck</h1>

<%= form_for @food_truck do |f| %>
  <%= f.text_field :name, placeholder:"Name goes here..." %>
  <%= f.text_field :description, placeholder:"what's your truck about..." %>
  <%= f.text_field :website, placeholder:"website?" %>


<!-- :food_categories, -->
<!-- @foodstuffs, -->
<% #id = @foodstuffs[f].id%>
<% #name = @foodstuffs[f].name%>

<!--Find total number of @food_categories
  create iteration loop based off this
  feed value to n 
  id = @foodstuffs[n].id
  name = @foodstuffs[n].name -->
 <% binding.pry %>
    <%= collection_check_boxes(:food_truck, :food_categories, @foodstuffs, id, name) do |b| %>
   
      <%= b.label(:"data-value" => b.value) { b.check_box + b.text } %>
    <% end %>
  <% #end %>
  <%= f.submit "get rolling!" %>

<% end %>
