<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">
        <i class="fa fa-cutlery"></i>&nbsp;&nbsp;foodiefind
      </a>  

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="active">
          <%= link_to 'hungry?', food_trucks_path %>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <% if current_user %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i> 
             foodie <%= current_user.name.upcase %> in the house
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu" role="menu">
            <li>
             <%= link_to '  update my profile', edit_user_path(current_user), class: "fa fa-cogs" %>
            </li>
            <li>
             <%= link_to '  log me out', session_path, method: :delete, class: "fa fa-sign-out" %>
            </li>
          </ul>
          
        </li>

        <% else %>
        <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user fa-fw"></i> Please log in
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu" role="menu">
            <li>
              <%= link_to "  Sign up", new_user_path, class: "fa fa-sign-in" %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to 'Log in', new_session_path  %>   
            </li>

          </ul>

        </li>      
        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
