<!DOCTYPE html>
<html>
<head>
  <title>Foodiefind</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= render 'partials/nav' %>

    <div style="z-index:100"><%= yield %></div>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, '✘ ' + msg, class: "#{name} alert alert-warning alert-dismissible close", role: 'alert', 'data-dismiss' => 'alert' %>
    <% end %> 

    <div class = "navbar navbar-default navbar-fixed-bottom" style="background:none; border:none;">
               
      <div class = "container" style="z-index:0">
        <p class = "big" style="padding-bottom:0px; margin-bottom:0px">foodiefind</p>
      </div>

    </div>

</body>

</html>
